/* AllAvgPrice.css */
.all-avg-price-card {
    max-width: 450px;
    /* max-height: 450px; */
}

.fuel-tabs {
    display: flex;
    gap: 1px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.fuel-tab-btn {
    padding: 9px 21px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    background-color: #f8f9fa;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fuel-tab-btn.active {
    background-color: #4a90e2;
    color: #fff;
    border-color: #4a90e2;
}

.national-price-content {
    display: flex;
    justify-content: space-between; /* 이미 존재 */
    padding: 5px 15px; /* 패딩을 더 크게 만들 수 있습니다. 예: 10px 20px */
    background-color: #f5f9ff;
    border-radius: 7px;
    margin: 25px 0px 25px 0px;
    align-items: center;
    border: 1px solid #e2e8f0;
}

/* 폰트 사이즈 조절 */
.price-label {
    font-size: 1.4rem; /* 더 크게: 1.6rem */
    color: #000000;
}

.price-value {
    font-size: 1.8rem; /* 더 크게: 2rem */
    font-weight: bold;
    color: #1b65e4;
}

.price-diff {
    font-size: 1.1rem;
    font-weight: 700;
}

.price-diff.up {
    color: red;
    /* ▲ 상승 화살표 빨간색 */
}

.price-diff.down {
    color: rgb(21, 184, 0);
    /* ▼ 하락 화살표 파란색으로 변경 */
}

@media (max-width:768px) {
    .fuel-tab-btn {
        padding: 3px 13px;
        border: 1px solid #e2e8f0;
        border-radius: 6px;
        background-color: #f8f9fa;
        color: #000000;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}