/* RegionSelector.css */


.sigun-select {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 10px center;
    background-size: 16px;
}

.sigun-select:focus {
    outline: none;
    border-color: #4a90e2;
}

.gas-station-list {
    max-height: 400px;
    overflow-y: auto;
}

.list-item {
    display: flex;
    /* 가로 정렬 */
    justify-content: space-between;
    /* 좌우 끝으로 벌림 */
    align-items: center;
    /* 세로 가운데 정렬 */
    padding: 4px 8px;
    /* 여백은 취향 */
    border: 1px solid #ddd;
    margin-bottom: 15px;
    cursor: pointer;
}

.price {
    margin-right: 8px;
}

@media (max-width:768px) {

    /* 또는 특정 클래스 내부에 있는 strong 태그만 적용 */
    .list-item span {
        font-size: 0.9rem; /* 폰트 크기를 0.8rem으로 줄임 */
        /*font-weight: normal; /* 추가로 폰트 두께도 보통으로 변경 */
    }
    .list-item strong {
        font-size: 0.7rem; /* 폰트 크기를 0.8rem으로 줄임 */
        /*font-weight: normal; /* 추가로 폰트 두께도 보통으로 변경 */
    }
    .list-item {
        display: flex;
        /* 가로 정렬 */
        justify-content: space-between;
        /* 좌우 끝으로 벌림 */
        align-items: center;
        /* 세로 가운데 정렬 */
        padding: 4px 8px;
        /* 여백은 취향 */
        border: 1px solid #ddd;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .sigun-select {
        width: 100%; /* 부모 요소의 너비에 맞춰서 100%로 설정 */
        max-width: 300px; /* 너무 넓어지는 것을 방지하기 위한 최대 너비 설정 */
        box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
    }
}