<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stationInfo_mapper">
	
	<!-- 즐겨찾기 목록 조회 -->
	<select id="getFavStationInfo" parameterType="String" resultType="StationInfo">
		<!-- 주유소 즐겨찾기 -->
        select 
        	g.UNI_CD AS id, g.NAME AS name, g.ADDR AS addr, g.TEL AS tel, 'oil' AS type
        from fav f join t_gas_station g
          on g.UNI_CD = replace(f.FAV_KEY, 'oil:', '')
        where f.USER_ID = #{userId} 
          and f.TYPE = 'oil'

        UNION ALL

        <!-- 충전소 즐겨찾기 -->
        select
        	c.STATID AS id, c.STATNM AS name, c.ADDR AS addr, c.BUSICALL AS tel, 'ev' AS type
        from fav f join t_charge c
          on c.STATID = replace(f.FAV_KEY, 'ev:', '')
        where f.USER_ID = #{userId} 
          and f.TYPE = 'ev'
	</select>
	
</mapper>