.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 80px; /* 사이드바 너비만큼 왼쪽 시작 */
  width: 0; /* 처음에는 너비 0 */
  height: 100%;
  background: #ffffff;
  transition: width 0.5s ease; /* 너비를 늘리며 슬라이드 */
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.page-wrapper.active {
  width: calc(100% - 80px); /* 활성화 시 전체 너비 확장 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
