<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					
<configuration>		
		
	<settings>	
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>	
	
	<typeAliases>	
		<typeAlias type="com.app.dto.route.GasStation" alias="GasStation"/>
		<typeAlias type="com.app.dto.route.EvCharge" alias="EvCharge"/>
		<typeAlias type="com.app.dto.ChargeDTO" alias="ChargeDTO"/>
		<typeAlias type="com.app.dto.OilSearchDTO" alias="OilSearchDTO"/>
		<typeAlias type="com.app.dto.StationDTO" alias="StationDTO"/>
		<typeAlias type="com.app.dto.users.Users" alias="Users"/>
		<typeAlias type="com.app.dto.users.EmailCode" alias="EmailCode"/>	
		<typeAlias type="com.app.dto.users.Car" alias="Car"/>
	</typeAliases>
		
		
</configuration>	